.container7{
    width: 250px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.643);
    padding:0px 8px 8px 8px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 2fr 6fr;
   grid-gap: 4px;
}
.header{
    display: flex;
    grid-column: 1/-1;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 6px;
}
.d1{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: red;
}
.d2{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: rgb(246, 182, 19);
    margin-left: 4px;
}
.d3{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: rgb(12, 243, 74);
    margin-left: 4px;
}
.d4{
    display: grid;
    background-color: white;
    height: 8px;
    width: 250px;
    margin-left: 5px;
    border-radius: 2px;
}
.div1{
    background-color: rgb(249, 133, 45);
  grid-column: 1/3;
   
}
.div2{
    background-color: #11e8d3e3;
   grid-column: 3/6;
  
}
.div3{
    background-color: rgba(251, 114, 80, 0.966);
    grid-column: 1/3;
}
.div4{
    display: grid;
    background-color: rgba(76, 208, 190, 0.727);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 3/6;
    padding: 4px;
    grid-gap: 4px;
}
.dv1{
    background-color: rgba(25, 231, 169, 0.628);
    grid-column: 1/-1;
}
.dv2{
    background-color: rgba(73, 240, 190, 0.845);
   
}
.dv3{
    background-color: rgba(255, 173, 126, 0.846);
    
}
